.shady-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
  padding-block: 4rem;
}

.shady-section {
  max-width: 1152px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
}

.image-overlay-card {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.image-overlay-image {
  width: 100%;
  height: 100%;
  max-height: 350px;
  display: block;
}

.image-overlay-text {
  position: absolute;
  bottom: 10%; /* 10% away from the bottom */
  left: 0;
  right: 0;
  padding: 0 20px; /* Optional: add padding for better readability */

  color: #fff;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align: center; /* Center the text */
}

.image-text-card {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  width: 100%;
}

.image-text-card-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 42%;
}

.image-text-card-subtitle {
  color: #292768;
  font-family: Poppins;
  font-size: clamp(16px, 4vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.text-card-image {
  height: 100%;
  max-height: 350px;
  width: 70%;
  border-radius: 20px;
  max-width: 667.035px;
}
@media (max-width: 860px) {
  .text-card-image {
    width: 60%;
  }
}
.image-text-card-title {
  color: #292768;
  font-family: Poppins;
  font-size: clamp(24px, 4vw, 48px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 72px */
}

.orange-title {
  color: #f6a200;
  font-family: Poppins;
  font-size: clamp(24px, 4vw, 48px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.card-with-overlay-title {
  color: #292768;
  font-family: Poppins;
  font-size: clamp(16px, 4vw, 24px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  text-align: left;
  width: 100%;
}

.card-with-overlay-subtitle {
  color: #292768;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}

.foundations-title-container {
  display: flex;
  width: 93%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.foundations-title {
  color: #292768;
  font-family: Poppins;
  font-size: clamp(32px, 4vw, 48px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 72px */
}
.foundations-subtitle {
  color: #292768;
  text-align: center;
  font-family: Poppins;
  font-size: clamp(16px, 4vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.orange-p {
  color: #faa225;
  font-family: Poppins;
  font-size: clamp(16px, 4vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media (max-width: 768px) {
  .foundations-title-container {
    width: 100%;
    text-align: left;
  }
  .foundations-subtitle {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .image-text-card {
    flex-direction: column;
    gap: 16px;
  }
  .image-text-card-text-container {
    max-width: 100%;
    align-items: flex-start;
  }
  .text-card-image {
    width: 100%;

    aspect-ratio: 312/170;
  }
  .image-text-card.reverse {
    flex-direction: column-reverse;
    gap: 16px; /* Reverse row for large screens */
  }
  .image-overlay-image {
    aspect-ratio: 312/320;
  }
  .image-overlay-text {
    font-size: 24px;
  }
  .shady-page {
    gap: 96px;
  }
}

.education-cards-container {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.education-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 368px;
}

.education-card-image {
  border-radius: 50%;
  aspect-ratio: 80/80;
  max-width: 80px;
}

.education-card-title {
  color: #292768;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.education-card-subtitle {
  color: #292768;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.education-title-container {
  display: flex;
  max-width: 705.813px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.education-card-sub-title-max-width-307px {
  max-width: 307px;
}
.education-card-sub-title-max-width-268px {
  max-width: 268.632px;
}
.education-card-title-max-width-195px {
  max-width: 195px;
}
@media (max-width: 768px) {
  .education-cards-container {
    flex-direction: column;
  }
  .education-title {
    color: #292768;
    text-align: center;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    width: 312px;
  }
  .education-card-image {
    aspect-ratio: 50/50;
    max-width: 50px;
  }
  .education-card-sub-title-max-width-307px {
    max-width: 100%;
  }
  .education-card-sub-title-max-width-268px {
    max-width: 100%;
  }
  .education-card-title-max-width-195px {
    max-width: 100%;
  }
}
