.top-banner {
    width: 100%;
    max-width: 1152px;
}

.top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 768px) {
    .top-banner {
        flex-direction: column;
        align-items: flex-start;
    }
}

.top-banner__details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
    max-width: 516px;
}

.top-banner__details {
    color: #fff;
}

.top-banner__details h1 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 72px */
}

.top-banner__details p {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

@media (max-width: 768px) {
    .top-banner__details {
        flex-direction: column;
        width: 100%;
    }

    .top-banner__details h1 {
        font-size: 1.625rem;
    }

    .top-banner__details p {
        font-size: 1rem;
    }
}

.top-banner__btn {
    cursor: pointer;
}

.top-banner__btn {
    display: flex;
    min-width: 165px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.top-banner__btn {
    border-radius: 8px;
    background: #FFF;
}

.top-banner__btn {
    color: var(--Regal-Purple);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.top-banner__btn:hover {
    color: #FFF;
    background: var(--Regal-Orange);
}

@media (max-width: 768px) {
    .top-banner__btn {
        display: flex;
        min-width: 148px;
        padding: 12px;
        justify-content: center;
        align-items: center;
    }
}

.top-banner__left-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1rem;
}

.full-image {
    width: 100%;
    height: 100%;
}

.top-banner__left-container-large {
    max-width: 348px;
    width: 100%;
    height: 338.539px;
}

.eight-brightness {
    filter: brightness(0.8);
}

.responsive-20 {
    border-radius: 20px;
}

.relative {
    position: relative;
}

.header-star {
    width: 41.872px;
    height: 41.872px;
    flex-shrink: 0;
}

.header-star {
    position: absolute;
    left: 0;
    top: calc((16.5px + 41.872px) * -1);
}

.header-arc {
    position: absolute;
    right: 29.49px;
    top:-36px;
    width: 120px;
    height: 60px;
    flex-shrink: 0;
    z-index: 1;
}

@media (max-width: 480px) {
    .top-banner__left-container-large {
        width: 163.817px;
        height: 187.277px;
    }

    .responsive-20 {
        border-radius: 11px;
    }

    .header-star {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }

    .header-star {
        position: absolute;
        left: 0;
        top: calc((31.66px + 24px) * -1);
    }

    .header-arc {
        position: absolute;
        right: 7.5px;
        top:-32px;
        width: 80px;
        height: 40px;
        flex-shrink: 0;
        z-index: 1;
    }
}

.top-banner__left-container-small {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    flex-shrink: 0;
}

.top-banner__left-container-small img {
    width: 196px;
    height: 318.548px;
    flex-shrink: 0;
    border-radius: 20px;
}

.top-banner__left-container-small .regal-purple-text {
    height: 84px;
    padding: 16px 20px;
    gap: 10px;
    align-self: stretch;
}


.top-banner__left-container-small .regal-purple-text {
    border-radius: 8px;
    background: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 24px */
}

.top-banner__left-container-small span {
    font-size: 1.125rem;
    font-weight: 400;
}

@media (max-width: 480px) {
    .top-banner__left-container-small img {
        width: 135px;
        height: 176.218px;
        flex-shrink: 0;
        border-radius: 11.064px;
    }

    .top-banner__left-container-small .regal-purple-text {
        padding: 8px 12px;
        gap: 8px;
        width: 135px;
        font-size: 0.75rem;
        height: fit-content;
    }

    .top-banner__left-container-small span {
        font-size: 1rem;
        font-weight: 400;
    }
}


.absolute {
    position: absolute;
}

.top-snail {
    left:0;
    top: -130px;
    opacity: 0.4;
    width: 419.418px;
    height: 489.568px;
    object-fit: contain;
    z-index: 1;
}


.bottom-snail {
    right:0;
    bottom: -10px;
    opacity: 0.4;
    width: 419.418px;
    height: 489.568px;
    object-fit: contain;
    z-index: 1;
}


@media (max-width: 768px) {
    .top-snail {
        display: none;
    }
    .bottom-snail {
        display: none;
    }
}



.global-exposure-secondary {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 21px;
}

.global-exposure-secondary {
    color: #FFF;
    width: 100%;
    max-width: 1152px;
    margin-top: 96px;
}

.global-exposure-secondary p {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.global-exposure-secondary h2 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 72px */
}

@media (max-width: 768px) {
    .global-exposure-secondary {
        margin-top: 56px;
    }
    .global-exposure-secondary p {
        font-size: 1rem;
    }
    .global-exposure-secondary h2 {
        font-size: 1.125rem;
    }
}

.global-exposure__introduction {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    text-align: center;
    color: #FFF;
}

.global-exposure__introduction p {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.global-exposure__introduction h2 {
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 72px */
}

@media (max-width: 768px) {
    .global-exposure__introduction p {
        font-size: 1rem;
    }

    .global-exposure__introduction h2 {
        font-size: 1.625rem;
    }
}

.global-opportunities-info {
    width: 100%;
    max-width: 1152px;
}

.global-opportunities-info {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 768px) {
    .global-opportunities-info {
        flex-direction: column-reverse;
        gap: 1.5rem;
    }
}

.global-exposure-image-box {
    width: 370px;
    height: 477px;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .global-exposure-image-box {
        width: 100%;
        aspect-ratio: 312/250;
        height: auto;
    }
}

.extendable-card-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.extendable-card-group .extendable-card {
    display: flex;
    padding: 24px;
    align-items: flex-end;
    gap: 10px;
    align-self: stretch;

    border-radius: 20px;
}

.extendable-card-group .extendable-card {
    color: var(--Regal-Purple);
}

.extendable-card h2 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
}

.extendable-card p {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

@media (max-width: 768px) {
    .extendable-card h2 {
        font-size: 1rem;
    }
    .extendable-card p {
        font-size: 1rem;
    }
}

.global-exposure {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1152px;
    gap: 1.5rem;
}


.regal-second-section {
    width: 100%;
    max-width: 1152px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.regal-third-section {
    width: 100%;
    max-width: 1152px;
}

.regal-third-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.regal-fourth-section {
    width: 100%;
    max-width: 1152px;
}

.regal-fourth-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.world-diversity {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.world-diversity {
    width: 100%;
    max-width: 1152px;
}

@media (max-width: 768px) {
    .world-diversity {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}

.world-diversity__intro {
    max-width: 368px;
}

@media (max-width: 768px) {
    .world-diversity__intro {
        max-width: fit-content;
    }
}

.world-diversity__intro h2 {
    color: var(--Regal-Purple);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 72px */
}

@media (max-width: 768px) {
    .world-diversity__intro {
        font-size: 1.625rem;
    }
}

.world-diversity-orange {
    position: absolute;
    left: 0;
    top: calc((18px + 41.873px) * -1);
    width: 41.873px;
    height: 41.872px;
    flex-shrink: 0;
}

.world-diversity-purple {
    position: absolute;
    width: 25.333px;
    height: 25.331px;
    left: 42px;
    top: calc((3px + 25.3px) * -1);
}

.card-collection {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    min-height: 304px;
    width: 100%;
    flex-wrap: wrap;
}

.star-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 172px;
    height: 150px;
    padding: 24px 10px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.star-card {
    position: relative;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
    flex-shrink: 0;
}

.star-card svg {
    position: absolute;
    left: 18.003px;
    top: 16.007px;
    width: 32.994px;
    height: 32.993px;
}
.star-card path {
    fill: #F6A200;
}

.star-card p {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
}

@media (min-width: 769px) {
    .hidden-message {
        display: none;
    }

    .star-card:hover {
        color: #FFF !important;
        background: url("../../assets/icons/bg-orange-card.png") no-repeat;
        background-size: cover;
        height: 220px;
        box-shadow: none;
        border: none;
    }

    .star-card:hover .hidden-message{
        color: #FFF;
        display: block;
        font-size: 7.585px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 11.377px */
    }

    .star-card:hover .regal-orange-text {
        color: #FFF;
    }

    .star-card:hover path {
        fill: #FFF;
    }

    .star-card.active path {
        fill: #FFF;
    }

    .star-card.active .regal-orange-text {
        color: #FFF;
    }

    .star-card.active {
        color: #FFF !important;
        background: url("../../assets/icons/bg-orange-card.png") no-repeat;
        background-size: cover;
        height: 220px;
        box-shadow: none;
        border: none;
    }

    .star-card.active .hidden-message{
        color: #FFF;
        display: block;
        font-size: 7.585px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 11.377px */
    }

}
@media (max-width: 768px) {
    .star-card {
        display: flex;
        width: 148px;
        height: 148px;
        padding: 16px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    .star-card svg {
        width: 28.39px;
        height: 28.39px;
        left: 15.491px;
        top: 13.773px;
    }

    .star-card p {
        color: #292768;
        font-size: 1rem;
    }
    .hidden-message {
        color: #292768;
        font-size: 5px !important;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 9px */
    }

    .star-card.orange {
        background: var(--Regal-Orange);
    }

    .star-card.purple {
        background: var(--Regal-Purple);
    }

    .star-card.orange path, .star-card.purple path {
        fill: #FFF;
    }

    .star-card.orange p, .star-card.purple p {
        color: #FFF !important;
    }

    .star-card.orange .regal-orange-text, .star-card.purple .regal-orange-text{
        color: #FFF;
    }
}

.how-to-shape-tommorrow {
    position: relative;
}

.how-to-shape-tommorrow {
    display: flex;
}

.how-to-shape-tommorrow {
    width: 100%;
    max-width: 1152px;
}

@media (max-width: 768px) {
    .how-to-shape-tommorrow {
        flex-direction: column;
    }
}

.how-to-shape__intro {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.how-to-shape__intro {
    background: var(--Regal-Purple);
    border-radius: 20px;
}

.how-to-shape__intro {
    max-width: 50%;
    width: 100%;
    min-height: 393.975px;
}

.how-to-shape__intro {
    color: #FFF;
    padding: 2rem;
    padding-right: 10%;
}

@media (max-width: 768px) {
    .how-to-shape__intro {
        max-width: 100%;
        padding-right: 36px;
        padding: 2.25rem;
        min-height: fit-content;
    }
}

.how-to-shape__intro p {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.how-to-shape__intro h2 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

@media (max-width: 768px) {
    .how-to-shape__intro p {
        font-size: 1rem;
    }
    
    .how-to-shape__intro h2 {
        font-size: 1.625rem;
    }
}


.how-to-shape__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
}

.how-to-shape__details {
    width: 100%;
    max-width: 50%;
}

@media (max-width: 768px) {
    .how-to-shape__details {
        max-width: 100%;
        gap: 1rem;
    }
}

.how-to-shape-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
}

.how-to-shape-row {
    width: 100%;
}

.how-to-shape-row img {
    width: 104px;
    height: 104px;
}

@media (max-width: 768px) {
    .how-to-shape-row {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .how-to-shape-row img {
        width: 50px;
        height: 50px;
    }
}

.how-to-shape-row__details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.how-to-shape-row__details h2 {
    color: var(--Regal-Purple);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
}

.how-to-shape-row__details p {
    color: var(--Regal-Purple);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

@media (max-width: 768px) {
    .how-to-shape-row__details h2 {
        font-size: 1.5rem;
    }

    .how-to-shape-row__details p {
        font-size: 1rem;
    }
}

.how-to-shape__details {
    position: relative;
    z-index: 1;
    top: 56px;
    left: -70px;
}

@media (max-width: 768px) {
    .how-to-shape__details {
        left: 0;
        top: -40px;
    }
}